#!/bin/bash -e
# lock dirs/files
LOCKDIR="/tmp/puppet-lock"
PIDFILE="${LOCKDIR}/PID"

ENO_SUCCESS=0; ETXT[0]="ENO_SUCCESS"
ENO_GENERAL=1; ETXT[1]="ENO_GENERAL"
ENO_LOCKFAIL=2; ETXT[2]="ENO_LOCKFAIL"
ENO_RECVSIG=3; ETXT[3]="ENO_RECVSIG"

## Run puppet locally using puppet apply
if mkdir "${LOCKDIR}" &>/dev/null; then
	trap 'rm -rf "${LOCKDIR}"' 0
	echo "$$" >"${PIDFILE}"
	trap 'exit ${ENO_RECVSIG}' 1 2 3 15

  ## Run puppet locally using puppet apply
  PUPPET_DIR=<%= @puppet_dir %>
  CODE_DIR=<%= @code_dir %>
  cd $CODE_DIR && /usr/local/bin/r10k puppetfile install && /usr/bin/puppet apply --verbose --modulepath $CODE_DIR/local_modules:$CODE_DIR/modules:/usr/share/puppet/modules --logdest <%= @logfile  %> manifests/

  ## Log status of the Puppet run
  if [ $? -eq 0 ]
  then
    /usr/bin/logger -i "Puppet has run successfully" -t "puppet-run"
    exit 0
  else
    /usr/bin/logger -i "Puppet has ran into an error, please run Puppet manually" -t "puppet-run"
    exit 1
  fi

else
	OTHERPID="$(cat "${PIDFILE}")"
	# if cat can't read the file, then another proc is probably about to remove it
	# but we're still locked
	if [ $? != 0 ]; then
		exit ${ENO_LOCKFAIL}
	fi

	if ! kill -0 $OTHERPID &>/dev/null; then
		# Lock is stale, remove and restart script
		rm -rf "${LOCKDIR}"
		exec "$0" "$@"
	else
		# Valid lock
		exit ${ENO_LOCKFAIL}
	fi
fi

